 @import "compass/reset";
 @import "compass/css3";
 @import "susy";
 @import "breakpoint";
 @import "normalize.css";


 /*Define media query breakpoints*/
 $breakpoints: (
 	'mobile': 300px,
 	'tablet': 600px,
 	'laptop': 1200px,
 	'desktop': 1400px,

 	);

 /*Define susy grid settings*/
 $susy: (
 	columns: 12, 
 	gutters: 1/2,
 	math: fluid,
 	output: float,
 	gutter-position: inside,
 	clearfix: true,


 	);

/*Define gradient start/end positions*/
 $colorStart: rgba(255,255,255,0.4);
 $colorEnd: rgba(255,255,255,1);

 /*Define colours*/
 $deepOrange: #E89104;
 $hoverOrange: #DC8A04;

 /*Oddities*/
 ::selection { 
 	background: $deepOrange; 
 	color: #fff;
 }

 body {
 	
 	font-family: 'Lato', sans-serif;
 	font-size: 1em;
 	
 }
 h2 {
 	
 	font-size: 2em;
 	margin-bottom: 1em;
 	color:#E89104;
 }
 p{
 	font-size: 1.4em;
 	// font-family: 'Playfair Display', serif;
 	font-family: 'Merriweather', serif;
 	line-height: 1.6em;
 	font-weight: 300;
 	margin-bottom: 2em;




 	
 }
a {
	color: orange;
	text-decoration: none;

	&:hover{
		color: $hoverOrange;

	}

}
 .large-letter{
 	font-size: 2em;
 	margin-right: -5px;
 }

 .caps {
 	text-transform: uppercase;
 }
 header {
 	height: 100px;
 	position: relative;

 }
 nav{
 	@include span(12);
 	
 	height: 100px;
 	

 	a{
 		text-decoration:none;
 		font-weight:100;
 		color:#000;
 		margin: 0 20px;
 		font-size: 1.6em;
 		line-height:100px;
 		position: relative;
 		z-index:100;
 		text-transform:lowercase;
 		display: inline-block;

 		&:before{

 			position: absolute;
 			content: "";
 			width: 100%;
 			height: 1px;
 			bottom: 30px;
 			left: 0;
 			background-color: #ACACAC;
 			visibility: hidden;
 			-webkit-transform: scaleX(0);
 			transform: scaleX(0);
 			-webkit-transition: all 0.3s ease-in-out 0s;
 			transition: all 0.3s ease-in-out 0s;

 		}

 		&:hover{
 			
 			&:before{
 				visibility: visible;
 				-webkit-transform: scaleX(1);
 				transform: scaleX(1);
 			}

 		}


 		
 		

 	}
 }

 .social-menu {
	@include span(3);
	float: right;
	text-align:right;
	a{
		font-size: 1em;
		color: rgba(#000, 0.4);
		display: inline-block;

		&:hover{
			color: $hoverOrange;
		}
	}

	

}

 .logo {
 	display: none;
 	position: relative;
 	top: 35px;
 	text-align:center;
 	h1{
 		color: #000;
 		font-size: 2em;
 		font-weight: 400;
 	} 
 }

 .container{
 	@include container(80%);
 }
 .hero {
 	@include span(12);
 	
 	clear: both;
 	margin-top:-100px;
 }



 .hero-text{
 	@include span(12);

 


 }

 .background{
 	background-color: #000;
 	
 	@include background-image(linear-gradient(to bottom, $colorStart, $colorEnd), url("../../img/trees.jpg"));
 	
 	height: 400px;
 	background-size: cover;
 	opacity: 0;
 	animation: fadein 3s;
 	animation-fill-mode: forwards;

 	@keyframes fadein {
 		from { opacity: 0; }
 		to   { opacity: 1; }
 	}


 	// &:before{
 	// 	content:'';
 	// 	position: absolute;
 	// 	top:0;
 	// 	right:0;
 	// 	left:0;
 	// 	bottom: 0;
 	// 	@include background-image(linear-gradient(to bottom right, white, #dddddd));
 	// 	opacity: 0.7;


 	// }

 	




 }

 h1 {
 	font-size: 80px;


 	color: #fff;
 	font-weight: 300;
 	text-transform: uppercase;

 	animation: animateText 3s;
 	animation-fill-mode: forwards;

 	@keyframes animateText{
 		from {top: 200px; left: -300px; opacity: 0;}

 		to { top: 100px; left: -300px; opacity: 1;}
 	}


 }

 .rob{
 	color: #5F5E5E;
 	letter-spacing: -5px;

 	// &:before{
 	// 	background-color: #000;
 	// 	content: "";
 	// 	display: block;
 	// 	height: 1px;
 	// 	width: 50%;
 	// 	position: absolute;
 		

 	// }

 }
 .speakman{
 	color: $deepOrange;
 	font-weight: 400;


 }

 .subtext {

 	display: inline-block;

 	font-size: 3em;
 	font-weight: 300;
 	padding-bottom: 5px;
 	text-transform: lowercase;
 	position: relative;
 	left: 5px;
 	border-bottom: 1px solid #fff;

 	opacity: 0;
 	color: rgba(#5F5E5E, 0.6);

 	animation: fadein 10s;
 	animation-fill-mode: forwards;

 	@keyframes fadein {
 		from { opacity: 0; }
 		to   { opacity: 1; }
 	}



 }

 
 #about {
 	@include span(12);
 	
 	background: #fff;
 	padding: 5% 2%;





 }

 .about-left {
 	@include span(4);

 	
 }

 .about-right{
 	@include span(8);


 	
 }
 .text-two-col{
 	-webkit-column-count: 2;
 	-webkit-column-gap: 2em;
 }

#education {
	@include span(12);
	 	padding: 5% 2%;

}
.education-left{
	@include span(6);

}
.education-right{
	@include span(6);
}

#twitter-feed {
	@include span(12);
	background-color: #000;
	text-align: center;
	padding: 0 5% 5% 5%;

	i {
		font-size: 4em;
		color: #fff;
		line-height: 100px;
	}

}

.twitter-popout{
	text-align:center;
	@include border-radius(70px);
	background-color: #000;
	padding: 20px;
	margin: 0 auto;
	width: 100px;
	height: 100px;
	position: relative;
	top: -50px;
}

.twitter-text{
	margin-top: -40px;
	color: #fff;
}

.contact-background {

	@include background-image(linear-gradient(to bottom, $colorStart, $colorEnd), url("../../img/bird.jpg"));
	
 	background-size: cover;
 	background-position: -300px 0;
 	



}
#contact {
	@include span(12);
	height: 400px;
	
	position: relative;
	padding: 5% 2%;

}


 footer{ 
 	@include span(12 no-gutters);
 	
 	background-color: #dee0df;
 	min-height: 300px;

 }
.social-details{
	@include span(6);
	background-color: #000;
	height: 20em;
	padding-top:10%;
	color: #fff;

}
 .copyright {

 	@include span(6);
 	background-color: $deepOrange;
 	height: 20em;
 	padding-top: 10%;
 	text-align: center;

 }

