@import url(normalize.css);
/* line 5, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*Define media query breakpoints*/
/*Define susy grid settings*/
/*Define gradient start/end positions*/
/*Define colours*/
/*Oddities*/
/* line 38, ../sass/screen.scss */
::selection {
  background: #E89104;
  color: #fff;
}

/* line 43, ../sass/screen.scss */
body {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
}

/* line 49, ../sass/screen.scss */
h2 {
  font-size: 2em;
  margin-bottom: 1em;
  color: #E89104;
}

/* line 55, ../sass/screen.scss */
p {
  font-size: 1.4em;
  font-family: 'Merriweather', serif;
  line-height: 1.6em;
  font-weight: 300;
  margin-bottom: 2em;
}

/* line 68, ../sass/screen.scss */
a {
  color: orange;
  text-decoration: none;
}
/* line 72, ../sass/screen.scss */
a:hover {
  color: #DC8A04;
}

/* line 78, ../sass/screen.scss */
.large-letter {
  font-size: 2em;
  margin-right: -5px;
}

/* line 83, ../sass/screen.scss */
.caps {
  text-transform: uppercase;
}

/* line 86, ../sass/screen.scss */
header {
  height: 100px;
  position: relative;
}

/* line 91, ../sass/screen.scss */
nav {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
  height: 100px;
}
/* line 97, ../sass/screen.scss */
nav a {
  text-decoration: none;
  font-weight: 100;
  color: #000;
  margin: 0 20px;
  font-size: 1.6em;
  line-height: 100px;
  position: relative;
  z-index: 100;
  text-transform: lowercase;
  display: inline-block;
}
/* line 109, ../sass/screen.scss */
nav a:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: 30px;
  left: 0;
  background-color: #ACACAC;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
/* line 128, ../sass/screen.scss */
nav a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* line 143, ../sass/screen.scss */
.social-menu {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
  float: right;
  text-align: right;
}
/* line 147, ../sass/screen.scss */
.social-menu a {
  font-size: 1em;
  color: rgba(0, 0, 0, 0.4);
  display: inline-block;
}
/* line 152, ../sass/screen.scss */
.social-menu a:hover {
  color: #DC8A04;
}

/* line 161, ../sass/screen.scss */
.logo {
  display: none;
  position: relative;
  top: 35px;
  text-align: center;
}
/* line 166, ../sass/screen.scss */
.logo h1 {
  color: #000;
  font-size: 2em;
  font-weight: 400;
}

/* line 173, ../sass/screen.scss */
.container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../../var/lib/gems/1.9.1/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 176, ../sass/screen.scss */
.hero {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
  clear: both;
  margin-top: -100px;
}

/* line 185, ../sass/screen.scss */
.hero-text {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
}

/* line 193, ../sass/screen.scss */
.background {
  background-color: #000;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjQiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='), url("../../img/trees.jpg");
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.4)), color-stop(100%, #ffffff)), url("../../img/trees.jpg");
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.4), #ffffff), url("../../img/trees.jpg");
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.4), #ffffff), url("../../img/trees.jpg");
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), #ffffff), url("../../img/trees.jpg");
  height: 400px;
  background-size: cover;
  opacity: 0;
  animation: fadein 3s;
  animation-fill-mode: forwards;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* line 230, ../sass/screen.scss */
h1 {
  font-size: 80px;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  animation: animateText 3s;
  animation-fill-mode: forwards;
}
@keyframes animateText {
  from {
    top: 200px;
    left: -300px;
    opacity: 0;
  }
  to {
    top: 100px;
    left: -300px;
    opacity: 1;
  }
}
/* line 250, ../sass/screen.scss */
.rob {
  color: #5F5E5E;
  letter-spacing: -5px;
}

/* line 266, ../sass/screen.scss */
.speakman {
  color: #E89104;
  font-weight: 400;
}

/* line 273, ../sass/screen.scss */
.subtext {
  display: inline-block;
  font-size: 3em;
  font-weight: 300;
  padding-bottom: 5px;
  text-transform: lowercase;
  position: relative;
  left: 5px;
  border-bottom: 1px solid #fff;
  opacity: 0;
  color: rgba(95, 94, 94, 0.6);
  animation: fadein 10s;
  animation-fill-mode: forwards;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* line 301, ../sass/screen.scss */
#about {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
  background: #fff;
  padding: 5% 2%;
}

/* line 313, ../sass/screen.scss */
.about-left {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
}

/* line 319, ../sass/screen.scss */
.about-right {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 66.66667%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
}

/* line 325, ../sass/screen.scss */
.text-two-col {
  -webkit-column-count: 2;
  -webkit-column-gap: 2em;
}

/* line 330, ../sass/screen.scss */
#education {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
  padding: 5% 2%;
}

/* line 335, ../sass/screen.scss */
.education-left {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
}

/* line 339, ../sass/screen.scss */
.education-right {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
}

/* line 343, ../sass/screen.scss */
#twitter-feed {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
  background-color: #000;
  text-align: center;
  padding: 0 5% 5% 5%;
}
/* line 349, ../sass/screen.scss */
#twitter-feed i {
  font-size: 4em;
  color: #fff;
  line-height: 100px;
}

/* line 357, ../sass/screen.scss */
.twitter-popout {
  text-align: center;
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 70px;
  background-color: #000;
  padding: 20px;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  position: relative;
  top: -50px;
}

/* line 369, ../sass/screen.scss */
.twitter-text {
  margin-top: -40px;
  color: #fff;
}

/* line 374, ../sass/screen.scss */
.contact-background {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjQiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='), url("../../img/bird.jpg");
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.4)), color-stop(100%, #ffffff)), url("../../img/bird.jpg");
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.4), #ffffff), url("../../img/bird.jpg");
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.4), #ffffff), url("../../img/bird.jpg");
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), #ffffff), url("../../img/bird.jpg");
  background-size: cover;
  background-position: -300px 0;
}

/* line 385, ../sass/screen.scss */
#contact {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
  height: 400px;
  position: relative;
  padding: 5% 2%;
}

/* line 395, ../sass/screen.scss */
footer {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  background-color: #dee0df;
  min-height: 300px;
}

/* line 402, ../sass/screen.scss */
.social-details {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
  background-color: #000;
  height: 20em;
  padding-top: 10%;
  color: #fff;
}

/* line 410, ../sass/screen.scss */
.copyright {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
  background-color: #E89104;
  height: 20em;
  padding-top: 10%;
  text-align: center;
}
